<h1 class="current-category"><%= params[:category] %></h1>

<% if @movies.count == 0 %>
    <h3>There are no movies in this category.</h3>
<% else %>
    <% @movies.each do |movie| %>
        <h2><%= link_to movie.title, movie_path(movie) %></h2>
    <% end %>
<% end %>