 <% if params[:category]==nil %>
    <div class="welcome-box col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Welcome to MovieDB!</h3>
            </div>
            <div class="panel-body">
                <p>MovieDB is a portal for movie freaks. Here you can read reviews & gain information about popular movies around the globe. Movies can be listed as per their genres. Popular movies are listed below.</p>
                <p>Don't forget to leave ratings and reviews for the movies that you have watched.</p>
            </div>
        </div>
    </div>
    <div class="welcome-box col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Important Note</h3>
            </div>
            <div class="panel-body">
                <p>Since Heroku file system is currently readonly, poster images uploaded for movies will not appear properly.</p>
                <p>Therefore default poster image will be shown for all movies until file upload is provided by heroku or until this app is configured via AWS S3.</p>
            </div>
        </div>
    </div>
<%  end %>
        
<% if params[:category] != nil %>
    <h1 class="current-category"><%= params[:category] %></h1>
<%  end %>


<% if @movies.count == 0 %>
    <h3>There are no movies in this category.</h3>
<% else %>
    <div class="row col-md-12 col-lg-12">
        <% @movies.each do |movie| %>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <a href="/movies/<%= movie.id %>">
                        <%= image_tag '/../system/movies/Forrest-Gump.jpg', class: "movie-poster" %>
                    </a>
                  </div>
                  <div class="panel-footer"><%= movie.title %></div>
                </div>
            </div>
        <% end %>
    </div>
<% end %>