/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";
@import url(fonts.googleapis.com/css?family=Open%20Sans);

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}


body{
    font-family: 'Open Sans', sans-serif;
    background:#fff;
}

.navbar-default{
    background-color:#001f3f;
    font-weight:500;
    font-size:1.1em;
    border-color: #000f1e;
}

.navbar-brand{
    font-size:1.8em;
    letter-spacing:2px;
    color:#fff !important;
    letter-spacing: -1px;
    font-weight: 400;
}

.nav-btn a{
    color: #fff !important;
}


.navbar{
    border-radius:0;
}

.navbar-default a{
    
}

.dropdown-menu a{
    color: black !important;
}

/* general */

.well{
    background-color: #f9f9f9 !important;
}


/* movies index page */

.movie-show{
    height:475px;
    width:325px;
}

.movie-poster{
    height:320px;
    width:220px;
}

.movie-poster-cover{
    text-align:center;
    background:#f5f5f5;
    border-radius:5%;
    margin:10px;
}




/* Footer */

.footer {
  position: absolute;
  margin-bottom:0px;
  margin-top:80px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
