<%= simple_form_for([@movie, @movie.reviews.build]) do |f| %>

    <div class="rating-form">
        <label> Rating </label>
    </div>
    <%= f.input :comment %>
    <%= f.button :submit, :class => "btn btn-primary" %>
<% end %>

<script>
    $('.rating-form').raty({
        path: 'https://cdnjs.cloudflare.com/ajax/libs/raty/2.7.0/images/',
        scoreName: 'review[rating]'
    });
</script>