<div class="col-md-10 col-md-offset-1">
    <div class="edit-review-form">
        <h1>Edit Review</h1>
        <%= simple_form_for([@movie, @review]) do |f| %>
            <div class="rating-form">
                <label>Rating</label>
            </div>
            <%= f.input :comment %>
            <%= f.button :submit, :class => "btn btn-primary" %>
        <% end %>
    </div>
</div>

<script>
    $('.rating-form').raty({
        path: 'https://cdnjs.cloudflare.com/ajax/libs/raty/2.7.0/images/',
        scoreName: 'review[rating]'
    });
</script>